blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", "MIcrosoft YaHei", sans-serif !important;
    background-color: #F8F8F8;
}

#page.index {
    text-align: center;
}

#page.index .index-container {
    margin: 0 auto;
    width: 1120px;
}

.scenes-container {
    position: relative;
    width: 1120px;
    margin: 0 auto;
    left: -2%;
    /*  margin: 40px auto; */
}

.quality-container {
    margin: 40px auto;
}

.index-nav-container {
    width: 100%;
    height: 44px;
    line-height: 44px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.index-nav-container .title {
    font-size: 18px;
    margin-left: 13px;
    margin-right: 10px;
}

.index-nav-container .nav-item {
    float: left;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

.index-nav-container .active {
    background: #fff;
    color: #9a9292;
}

.mf-shang-hei-regular {
    font-family: "MFShangHei-Regular" !important;
}

.quality-area {
    height: 700px;
    width: 100%;
    padding: 11px 10px 10px;
    background-color: #fff;
    /* border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; */
    box-sizing: border-box;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.quality-card {
    width: 33%;
    height: 314px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    background: #ffffff;
    transition: background-color 500ms;
    border: 1px solid #dcdcdc;
    margin: 10px 3px 10px 0px;
}

.quality-card .quality-img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.image {
    border: 0;
}

.quality-card .poi-info {
    text-align: left;
}

.quality-card .title {
    font-size: 16px;
    color: #222;
    height: 22px;
    line-height: 22px;
    margin-bottom: 8px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.quality-card .sub-title {
    font-size: 12px;
    color: #999;
    line-height: 18px;
    height: 18px;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quality-card .price-info {
    height: 27px;
    overflow: hidden;
    margin-bottom: 10px;
}

.quality-card .current-price-wrapper {
    cursor: pointer;
}

.quality-card .price-symbol {
    font-size: 14px;
    color: #BE9E4D;
    font-weight: 500;
}

.numfont {
    font-family: "numbers" !important;
    letter-spacing: -0.5px;
}

.quality-card .current-price {
    font-size: 22px;
    color: #BE9E4D;
    margin-right: 6px;
    letter-spacing: -0.8px;
    cursor: pointer;
}

.quality-card .old-price {
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
}

.quality-card .sold,
.quality-card .bottom-right-info {
    font-size: 12px;
    color: #999;
    float: right;
    margin-top: 10px;
}